.guest__album__filter-parent{
    width: 50%;
    display: flex;
    margin: 1% 0 0 3%;
    padding: 2%;
    color: white;
}

.guest__filter__input-box{
    margin-left: 2%;
}
.guest__filter__input-box>div{
    margin-bottom: 2%;
}

.guest__filter__input-box>input{
    width: 18vw;
    height: 6vh;
    border: 1px solid rgb(187, 187, 187);
    outline: 0;
    padding-left: 2%;
}

.guest__filter__input-box>input:focus{
    border: 1px solid #98c7df;
}

.guest__filter__input-box>select{
    width: 10vw;
    height: 7vh;
    border: 1px solid rgb(187, 187, 187);
    outline: 0;
}
.guest__filter__input-box>select:focus{
    border: 1px solid #98c7df;
}

.guest__filter__input-box>button{
    width: 7vw;
    height: 7vh;
    margin-top: 23%;
    background-color: #1DB954;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 5px
}